.navbar {
  padding-left: 470px !important;
  /* width: 100%; */
  width: 100%;
  height: 100px;
}
/* .first {
  padding-left: 173px;
}

.vl {
  border: 30px solid green;
  height: 50px;
  margin-left: 200px;
} */

.nav-item {
  /* padding-right: 53px !important; */
  padding-top: 50px;
  padding-bottom: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  padding-right: 30px !important;
  /* line-height: 22px; */
  /* identical to box height */

  color: #ffffff;
}
a.navlink {
  padding: 0px !important;
}
.issue__pic {
  /* width: 100%; */
  height: 70vh ;
  width: 100vw;
  background: url("../Image/illustration.png");
  margin-bottom: 30px;
}
.issue__heading {
  padding-left: 100px;
  padding-bottom: 91px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #000000;
  text-align: left;
}
.issue__link {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 44px;
  color: #000000;
  text-decoration: none !important;
}

.issue__Image {
  height: 122px;
  width: 122px;
  margin-right: 60px;
}
.issue__footer {
  /* position: absolute; */
  height: 396px;
  background: #000000;
}
.issue_givePaddingLeft {
  padding-left: 170px;
}
.issue_givePaddingRight {
  padding-left: 100px;
}

  
/* @media (max-width: 1370px) {
  .issue__link {
    margin-right: 0% !important;
    padding-left: 0% !important;
  }
  .issue__second {
    padding-left: 65% !important;
  }
   .pic {
    height: 50vh !important;
  } 
  .issue__link {
    font-size: 25px;
  }
  input.form-control {
    width: 500px !important;
    margin-bottom: 20%;
    margin-top: 60% !important;
    margin-left: 70% !important;
  } 
  .navbar {
    padding-left: 30% !important;
  }
} */

@media (max-width:1100px)
{
  input.form-control
  {
    width: 400px !important;
    margin-left: 50% !important;
    margin-top: 70% !important;
  }
  .issue__Image
  {
    height: 70px !important;
    width: 70px !important;
    margin-right: 40px !important;
  }
  .issue_givePaddingLeft {
    padding-left: 100px;
}
.nav-link
{
  font-size: x-small;
}
  
}
@media (max-width: 1200px) {
  .issue__link {
    margin-right: 0% !important;
    padding-left: 0% !important;
  }
  .second {
    padding-left: 65% !important;
  }
  .issue__pic {
    height: 50vh ;
  }
  .issue__link {
    font-size: 25px;
  }
  input.form-control {
    width: 400px !important;
    margin-bottom: 20%;
    margin-top: 60% !important;
    margin-left: 70% !important;
  }
  .navbar {
    padding-left: 10% !important;
  }
}

@media (max-width: 1680px) {
   .issue__pic{
     height:80vh;
   }
   .form-control
   {
    margin-left: 484px !important;
    margin-top: 519px !important;
   }
}